<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.neteru.ankh">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".classes.Ankh"
        android:allowBackup="true"
        android:icon="@mipmap/ankh_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".classes.AnkhBaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.other.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.quiz.PlayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.other.StatsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.other.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.quiz.InstructionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.quiz.GameOverActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.documentation.DocSectionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.documentation.sections.GodsDocActivity"
            android:parentActivityName=".activities.documentation.DocSectionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neteru.ankh.activities.documentation.DocSectionsActivity" />
        </activity>
        <activity
            android:name=".activities.documentation.sections.CosmogoniesDocActivity"
            android:parentActivityName=".activities.documentation.DocSectionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neteru.ankh.activities.documentation.DocSectionsActivity" />
        </activity>
        <activity
            android:name=".activities.documentation.sections.MythsDocActivity"
            android:parentActivityName=".activities.documentation.DocSectionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neteru.ankh.activities.documentation.DocSectionsActivity" />
        </activity>

        <service
            android:name=".classes.services.MusicService"
            android:enabled="true" />

    </application>

</manifest>